/**
 * @package Transitions
 * Define all page transitions types.
 */

/* Default transition */
.default {
    opacity: 1;
    @include transition(opacity 0.2s ease-in-out);
}
.default.page-in,
.default.page-out {
    opacity: 0;
}

/* Slide right to left */
.slide-rtl {
    opacity: 1;
    @include transition(transform 0.6s ease-in-out, opacity 0.6s ease-in-out);
}
.slide-rtl.page-in {
    opacity: 0;
    @include transform(translateX(100%));
}
.slide-rtl.page-out {
    opacity: 0;
    @include transform(translateX(-100%));
}

/* Slide top to bottom */
.slide-ttb {
    opacity: 1;
    @include transition(transform 0.6s ease-in-out, opacity 0.6s ease-in-out);
}
.slide-ttb.page-in {
    opacity: 0;
    @include transform(translateY(0));
}
.slide-ttb.page-out {
    opacity: 0;
    @include transform(translateY(100%));
}

/* Fade in-out */
.fade {
    opacity: 1;
    @include transition(opacity 0.6s ease-in-out);
}
.fade.page-in,
.fade.page-out {
    opacity: 0;
}

/* Scale in-out */
.scale {
    @include transition(transform 0.6s ease-in-out, opacity 0.6s ease-in-out);
}
.scale.page-in {
    opacity: 0;
    @include transform(scale(0));
}
.scale.page-out {
    opacity: 0;
    @include transform(scale(0));
}
