/**
 * Transitions
 * -----------
 */

/* No animation */
.no-anim {
    -webkit-transition: opacity 0.000000000000000000000001s;
    transition: opacity 0.000000000000000000000001s;
}
.no-anim.page-in,
.no-anim.page-out {
    opacity: 0;
}

/* Slide right to left */
.slide-rtl {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}
.slide-rtl.page-in {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
}
.slide-rtl.page-out {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
}

/* Slide top to bottom */
.slide-ttb {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}
.slide-ttb.page-in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
}
.slide-ttb.page-out {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
}

/* Fade in-out */
.fade {
    opacity: 1;
    -webkit-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}
.fade.page-in,
.fade.page-out {
    opacity: 0;
}

/* Scale in-out */
.scale {
    -webkit-transition: -webkit-transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}
.scale.page-in {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.scale.page-out {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
