/* line 1, ../sass/styles.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 7, ../sass/styles.scss */
html, body {
  height: 100%;
}

/* line 11, ../sass/styles.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background: #fff;
  overflow-x: hidden;
}

/* line 18, ../sass/styles.scss */
.no-actions {
  pointer-events: none;
}

/* line 22, ../sass/styles.scss */
h1 {
  font-size: 1.50em;
  padding: 0 15px;
}

/* line 27, ../sass/styles.scss */
.m-page {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background: #fff;
}
/* line 36, ../sass/styles.scss */
.m-page ul {
  margin-left: 15px;
}

/* Navigation */
/* line 43, ../sass/styles.scss */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 18px 5px 0 5px;
  z-index: 2;
  background: #fff;
}

/* line 55, ../sass/styles.scss */
body[data-page-name^="dashboard"] .nav > li.dashboard a,
body[data-page-name="about"] .nav > li.about a,
body[data-page-name="contact"] .nav > li.contact a {
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  color: #555;
  background-color: #fff;
  pointer-events: none;
  cursor: default;
}

/**
 * @package Transitions
 * Define all page transitions types.
 */
/* Default transition */
/* line 7, ../sass/transitions.scss */
.default {
  opacity: 1;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

/* line 11, ../sass/transitions.scss */
.default.page-in,
.default.page-out {
  opacity: 0;
}

/* Slide right to left */
/* line 17, ../sass/transitions.scss */
.slide-rtl {
  opacity: 1;
  -moz-transition: -moz-transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

/* line 21, ../sass/transitions.scss */
.slide-rtl.page-in {
  opacity: 0;
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

/* line 25, ../sass/transitions.scss */
.slide-rtl.page-out {
  opacity: 0;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* Slide top to bottom */
/* line 31, ../sass/transitions.scss */
.slide-ttb {
  opacity: 1;
  -moz-transition: -moz-transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

/* line 35, ../sass/transitions.scss */
.slide-ttb.page-in {
  opacity: 0;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* line 39, ../sass/transitions.scss */
.slide-ttb.page-out {
  opacity: 0;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

/* Fade in-out */
/* line 45, ../sass/transitions.scss */
.fade {
  opacity: 1;
  -moz-transition: opacity 0.6s ease-in-out;
  -o-transition: opacity 0.6s ease-in-out;
  -webkit-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}

/* line 49, ../sass/transitions.scss */
.fade.page-in,
.fade.page-out {
  opacity: 0;
}

/* Scale in-out */
/* line 55, ../sass/transitions.scss */
.scale {
  -moz-transition: -moz-transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

/* line 58, ../sass/transitions.scss */
.scale.page-in {
  opacity: 0;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* line 62, ../sass/transitions.scss */
.scale.page-out {
  opacity: 0;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* line 1, ../sass/modal.scss */
.modal {
  display: block;
  color: #333;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
/* line 8, ../sass/modal.scss */
.modal.fadein {
  opacity: 1;
}
/* line 11, ../sass/modal.scss */
.modal.fadein .modal-dialog {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 17, ../sass/modal.scss */
.modal-dialog {
  opacity: 0;
  -moz-transition: -moz-transform 0.6s ease, opacity 0.6s ease;
  -o-transition: -o-transform 0.6s ease, opacity 0.6s ease;
  -webkit-transition: -webkit-transform 0.6s ease, opacity 0.6s ease;
  transition: transform 0.6s ease, opacity 0.6s ease;
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
}

/*# sourceMappingURL=bundle.css.map */
